body {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 20px 0;
}

section {
  margin: 50px 0
}


 .navbar-nav a {
    color: inherit;
}

.laQuiniela{
  display:flex
}

.elQuinigol{
  display:flex
}

.form-group{
  margin: 0 auto;
  
  margin-bottom: 1.5em;
  width: 40%;
}

.botones{
  
  margin: 0 auto;
}

li{
  margin-bottom: 16px;
}
ol{
  margin-right: 15px;
}
.resultados{
  margin-right: 10px;
}
.coaster-card{
  border: 0.5px solid black;
  margin-bottom: 5px;
  margin-right: 10px;
}